extends base.pug

block content
    form(action="/items" method="POST")
        input(type="text", name="name", placeholder="item name")
        input(type="number", name="quantity", placeholder="item quantity")
        input(type="submit", value="Submit!")
